{% load static %}

<link href="{% static 'portfolio/yes_style.css' %}" rel="stylesheet"/>
    <body>
        <div class="container">
            <div >
                <h1 class = "header_text">Ееееееее!!</h1>
                <a href="https://t.me/ssilenntiumm" class="btn btn-success" target="_blank">Жду в тележке ;)</a>
                <a href="{% url 'home' %}" class="btn btn-primary">Вернуться на главную</a>
            </div>
             <div class="gif_container">
                <img src="https://i.postimg.cc/RVFpK1WN/image.gif">
            </div>
        </div>

    </body>
</html>
